body {
  background-color: rgb(33, 32, 42);
  color: whitesmoke;
  text-align: center;
  margin-left: 18%;
  margin-right: 18%;
}

section {
  background-color: rgb(24, 123, 209);
  margin-bottom: 3vh;
  margin-top: 2vh;
}